<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'login_audit', :plugin => 'redmine_login_audit' %>
    <%= stylesheet_link_tag 'wice_grid', :plugin => 'redmine_login_audit' %>
    <%= javascript_include_tag 'wice_grid' %>
    <script type="text/javascript">
        function filterByDate(value) {
            $('#grid_f_date option[value=' + value + ']').prop('selected', true);
            $('#grid_submit_grid_icon').trigger("click");
        }
        function filterByUserId(value) {
            $('#grid_f_users_id_eq').val(value);
            $('#grid_submit_grid_icon').trigger("click");
        }
    </script>
<% end %>



<div class="contextual">
  <%= form_tag url_for(:controller => 'login_audit', :action => 'delete') do %>
      <%= l(:label_la_delete_older_than) %>
      <%= select_tag(:purge_offset, options_for_select(choices_for_purge)) %>
      <%= l(:label_month) %>
      <%= submit_tag(l(:label_la_delete_history)) %>
  <% end %>
  |
  <%= form_tag url_for(:controller => 'login_audit', :action => 'delete_all') do %>
      <%= submit_tag(l(:label_la_delete_all_history)) %>
  <% end %>
  |
  <%= link_to l(:button_configure), url_for(:controller => 'settings', :action => 'plugin', :id => 'redmine_login_audit') %>
</div>
<h2><%= l(:label_la_admin) %></h2>


<%= render partial: 'login_audit_grid' %>
